#topbar {
    height: 50px;
}

#title {
    background-color: #011E54;
    color: aliceblue;
    font-weight: 300;
    margin-top: 0px;
    line-height: 50px;
    padding-left: 80px;
}

#driver{
    padding-left: 50px;
    padding-top: 50px;
    font-size: 24px;
}

#process {
    padding-left: 50px;
    font-size: 24px;
}

.table {
    margin-top: 10px;
}